@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700&display=swap');

/* Reset css */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 10px;
    background: #EDEEF0;
}

h1,
h2,
h3 {
    font-weight: bold;

}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.8em;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

#logo {
    font-size: 3em;
    font-weight: 700;
    color: #F05136;
    margin-right: auto;
    cursor: pointer;
}

.nav-links ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links a {
    font-size: 1.8em;
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 10px;
}

.nav-links a:hover {
    color: #F05136;
}

#home {
    background-color: black;
    color: white;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#home h2 {
    font-weight: 200;
    letter-spacing: .5px;
}

#bio {
    display: flex;
    align-items: center;

}

#bio h1 {
    letter-spacing: 0.5px;
    font-size: 4em;
    font-weight: 500;
}

#bio img {
    /* To make the image a square */
    width: 250px;
    height: 250px;
    /* To crop the image in a circle */
    border-radius: 50%;
    margin: 100px;

}

#bio article {
    margin: 10px;
}

#bio article p {
    padding: 20px 0;
}

p {
    font-size: 1.5em;
}

.link-button {
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.5px;
    background: #F05136 !important;
    /* https://css-tricks.com/when-using-important-is-the-right-choice/ */
    color: white !important;
    font-size: 1.8em;
    border-radius: 5%;
    cursor: pointer;
    border-color: black;
    padding: 10px;
    font-weight: 100;
}

#portfolio {
    background: url(./assets/Porfolio-background.svg);
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    height: 450px;
    text-align: center;
    margin: 20px 0;
}

#portfolio hr {

    width: 400px;
    margin: 20px auto;
}

#portfolio div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    margin-bottom: 50px;
}

#portfolio div article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    height: 200px;
    width: 250px;
}
#portfolio div article img{
  width: 25px;
    height: 25px;
    /* To crop the image in a circle */
    border-radius: 50%;
    margin: 0 ;

}



#portfolio>* {
    margin-top: 20px;
}

#portfolio>p {
    font-weight: 100;
}

#portfolio div article p,
h3,
img {
    text-align: center;
    padding: 20px 5px 0 5px;
}

.portfolio-icon {
    font-size: 3em;
    color: #F05136
}

#skills h2 {
    text-align: center;
}

.skill-container {
    display: flex;
    justify-content: space-around;
}

#skills ul {
    list-style: none;
    font-size: 1.5em;
}

#skills ul li {
    margin: 10px 0;
    ;
}

progress[value] {
    height: 10px;
    width: 350px;
    -webkit-appearance: none;
}

/* Styled only for google chrome */

progress[value]::-webkit-progress-bar {
    background-color: grey;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

/* https://css-tricks.com/html5-progress-element/ */

::-webkit-progress-value {
    background-color: #F05136;
}

#contact {
    background-color: black;
    color: white;
    align-self: center;
    text-align: center
}

.input {
    line-height: 2em;
    width: 350px;
    border-radius: 3px;
    border-color: black;
} 
#Skills h2{
  text-align: center;
}